.G {
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
  }
  
  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 75px;
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
    color: blue;
  }
  
  h3 {
    text-align: center;
  }
  