.texto-superpuesto {
    font-family: 'Great Vibes', cursive;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  